@charset "UTF-8";
/* CSS Document */
body

img{
display:block;
width:auto;
margin-left:auto;
margin-right:auto;
src:<img src="cv_mel_photo.jpg"
  }
{
  background-color:#ffe6e6;
}
h1
{
color:#000066;
@font-face
font-family: "reckless";
src: url("reckless_sample.ttf")  
}
h2
{
color:#808080;
}
h1, h2, p
{
text-align:center;
}
