@charset "UTF-8";
/* CSS Document */
body
{
background-color:#ffe6e6;
text-align:center;
}
h1
{ 
color:#8b00ab;
}
h2
{
color:#8b00ab;
}
h1, h2, p
{
text-align:center;
}
h2
{
text-decoration: underline;
}  
#competences
{list-style-image:url("ok_html.png");}
