@charset "UTF-8";
/* CSS Document */

@font-face {
    font-family: "theHills";
    src: url("font/TheHills_PERSONAL_USE_ONLY.ttf") format(".ttf");
}

body {
    background-color: #ffe6e6;
    text-align: center;
    font-family: "theHills", sans-serif;
}

h1, h2 {
    color: #8b00ab;
}

h2 {
    text-decoration: underline;
}

main {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-around;
    padding-top: 20px;
}

section {
    width: 20%
}

@keyframes swing {
    20% {
        transform: rotate3d(0, 0, 1, 15deg);
    }

    40% {
        transform: rotate3d(0, 0, 1, -10deg);
    }

    60% {
        transform: rotate3d(0, 0, 1, 5deg);
    }

    80% {
        transform: rotate3d(0, 0, 1, -5deg);
    }

    to {
        transform: rotate3d(0, 0, 1, 0deg);
    }
}

.swing {
    transform-origin: top center;
    animation-name: swing;
    animation-duration: 5s;
}

.list {
    list-style-type: square;
    text-align: left;
}

.button {
    display: inline-block;
    border-radius: 4px;
    background-color: white;
    border: 2px solid #555555;
    color: black;
    text-align: center;
    font-size: 14px;
    padding: 20px;
    width: 200px;
    transition: all 0.5s;
    cursor: pointer;
    margin: 5px;
    text-decoration: none;
}

.button:hover {
    background-color: #555555;
    color: white;
}

.flip h2 {
    cursor: pointer;
    margin: 20px 0 0;
}

.flip h2::after {
    content: '\25b6';
    display: inline-block;
    font-size: 20px;
    margin-left: 10px;
    transition: transform 0.3s ease;
    transform: rotate(90deg);
}

.flip.hidden h2::after {
    transform: rotate(0);
}

.social {
    margin-top: 10px;
}

.social .fa {
    font-size: 36px;
}

.fa-facebook-square {
    color: #3880a9;
}

.fa-linkedin-square {
    color: #47a3d6;
}

.fa-instagram {
    color: #cc1d88;
}


